.App {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -1;
}

.background:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #291e38;
	content: '';
	opacity: 0.2;
}

.fadein {
	animation: fadein .3s ease-out 0s forwards;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.welcome {
	font-size: 20px;
	position: fixed;
	top: 20px;
	left: 20px;
}

.photo-info {
	font-size: 14px;
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.due-dates {
	font-size: 16px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 200px;
	overflow: visible;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.story-points {
	font-size: 16px;
	position: fixed;
	top: 20px;
	right: 20px;
	height: 200px;
	overflow: visible;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.story-points div {
	margin: 4px 0;
}

.due-dates h4 {
	margin: 10px 0 0 0;
}

.story-points h4 {
	margin: 0 0 10px 0;
}

.due-dates a {
	margin: 4px 0;
	position: relative;
	overflow: visible;
	display: block;
	font-size: 14px;
}

.due-dates a:hover span {
	display: block;
}

.due-dates a span {
	display: none;
	position: absolute;
	right: 60px;
	width: 300px
}

h2 {
	font-size: 50px;
	line-height: 1.4;
	font-weight: normal;
}

h2 small {
	font-size: 20px;
	line-height: 3;
}

.and {
	font-size: 16px;
	/* opacity: 0.5; */
	line-height: 2;
}

.comma {
	/* opacity: 0.5; */
	font-size: 26px;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

a {
	text-decoration: none;
	color: inherit;
	transition-duration: 0.2s;
	font-weight: 400;
}

a:hover {
	opacity: 0.85;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}