* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 300px;
	padding: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 500;
	background: #291e38;
}

a {
	text-decoration: none;
}
